# Editor
.vscode/

venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Local database / app data
data/*.db
data/*.sqlite
data/*.sqlite3

# OS / editor
.DS_Store
Thumbs.db
Desktop.ini
.idea/
.vscode/

# Flet / Python build artifacts
build/
dist/
*.spec

